<% include ./partials/header %>

    <div class="ui container">
        <h1>Error!!</h1>
           <div class="item">
            <p> Nothing found here<p>
        </div>
    </div>
<% include ./partials/footer %>